$var1: #356EAD
$var2: #1F3F68
$var3: #5A98D0
$var4: #FFFFFF
$var5: #316099
$var6: #F2F2F2
$var7: #5a98d0
$var8: #ffffff
$var9: #fefefe
$var10: #888888
$var11: #aaaaaa

body
	padding: 0
	margin: 0

.container-hero
	width: 100%
	min-height: 650px
	background: linear-gradient(0deg, rgba(152, 195, 232, 0.5) 8.84%, rgba(152, 195, 232, 0) 31.12%)
	box-sizing: border-box
	padding-top: 40px

.hero__navigation
	display: flex
	justify-content: space-between
	align-items: center
	width: 100%
	padding: 0px 83px 40px
	box-sizing: border-box
	&-menu
		fill: $var1
		&:hover
			fill: $var2


	&-menu
		position: relative
		z-index: 2


.hero__content
	width: 100%
	height: calc(100% - 133px)
	padding-left: 212px
	box-sizing: border-box
	position: relative
	*
		position: relative
		z-index: 1

	img
		position: absolute
		right: 30px
		top: 0
		height: 100%
		z-index: 0

	&-heading
		width: 510px
		font-family: 'Abhaya Libre', serif
		font-size: 58px
		line-height: 68px
		letter-spacing: 0.04em
		color: $var2
		padding: 55px 0 30px 0
		margin: 0

	&-text
		width: 425px
		font-size: 15px
		line-height: 25px
		letter-spacing: 0.05em
		color: $var2
		opacity: 0.6
		margin: 0

	&-btn
		width: 220px
		height: 56px
		background: $var3
		box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2)
		border-radius: 10px
		margin-top: 70px
		outline: none
		border: none
		font-size: 15px
		line-height: 25px
		text-align: center
		letter-spacing: 0.04em
		color: $var4
		&:hover
			background: $var2



.container-whatwedo
	width: 100%
	display: flex
	justify-content: center

.whatwedo__block
	padding: 192px 0
	width: 942px
	box-sizing: border-box
	display: flex
	flex-direction: column
	justify-content: space-between
	&-title
		width: 360px
		h2
			font-size: 33px
			line-height: 43px
			letter-spacing: 0.05em
			color: $var5
			margin: 0


	&-row
		display: flex
		justify-content: space-between

	&-form
		width: 380px
		height: 525px
		background: $var4
		box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2)
		border-radius: 10px
		display: flex
		flex-direction: column
		align-items: center
		&-image-first
			padding: 48px 40px 0 0

		&-image-second
			position: relative
			top: -20px

		&-image-third
			padding: 48px 32px 0 0

		&-info
			padding: 56px 48px 48px
			box-sizing: border-box

		&-title h6
			font-size: 18px
			line-height: 28px
			letter-spacing: 0.05em
			color: $var2
			margin: 0

		&-text
			font-size: 15px
			line-height: 25px
			letter-spacing: 0.05em
			color: $var2
			opacity: 0.6
			margin-bottom: 32px

		a
			font-size: 14px
			line-height: 30px
			letter-spacing: 0.05em
			color: $var3
			text-decoration: none
			position: relative
			svg
				fill: $var3
				margin-left: 24px
				position: absolute
				top: -4px

			&:hover
				color: $var2
				svg
					fill: $var2





.first
	margin-bottom: 100px

.second
	margin-left: 60px
	.whatwedo__block-form:first-child
		transform: translateY(calc(-50% - 50px))


.container_our_client
	width: 100%
	display: flex
	justify-content: center
	background: $var3
	border-radius: 200px 0px 0px 0px

.our_client__block
	width: 942px
	position: relative
	&-info
		display: flex
		justify-content: space-between
		align-items: center
		margin-top: 96px
		&-title
			width: 227px
			h2
				font-size: 33px
				line-height: 43px
				letter-spacing: 0.05em
				margin: 0
				color: $var4


		&-text
			width: 540px
			font-size: 16px
			line-height: 25px
			letter-spacing: 0.05em
			opacity: 0.6
			color: $var4


	&-table
		display: flex
		flex-wrap: wrap
		margin-top: 125px
		margin-bottom: 125px
		&-logo
			width: 25%
			text-align: center
			font-size: 20px
			line-height: 46px
			letter-spacing: 0.02em
			color: $var6
			border-right: 1px solid $var4
			box-sizing: border-box
			padding: 40px 0
			&:hover
				background: rgba(31, 63, 104, 0.2)


		:nth-child(-n+4)
			border-bottom: 1px solid $var4

		:nth-child(4n)
			border-right: none



.container-footer
	background: $var7

.footer__block
	width: 95%
	height: 100%
	top: 0
	left: 0
	background: $var5
	border-radius: 0px 200px 0px 0px
	z-index: 1
	&-content
		width: 100%
		display: flex
		justify-content: center
		z-index: 2

	&-form
		display: flex
		justify-content: space-between
		align-items: center
		width: 942px
		padding-top: 91px
		padding-right: 80px
		box-sizing: border-box
		&-info
			max-width: 460px
			&-heading
				font-size: 33px
				line-height: 43px
				letter-spacing: 0.05em
				color: $var4
				margin: 0 0 32px 0

			&-text
				font-size: 15px
				line-height: 25px
				letter-spacing: 0.05em
				color: $var4
				opacity: 0.6



	&-line
		height: 1px
		width: 88%
		background: $var8
		margin: 96px 0
		opacity: .4
		z-index: 2

	&-about
		width: 100%
		display: flex
		justify-content: center
		z-index: 2
		&-content
			display: flex
			flex-direction: column
			width: 942px
			padding-right: 80px
			box-sizing: border-box
			&-form
				display: flex
				justify-content: space-between
				box-sizing: border-box
				&-contacts
					max-width: 300px
					&-info
						display: flex
						align-items: center
						margin-bottom: 32px
						img
							margin-right: 16px
							width: 48px
							height: 48px

						h3
							font-size: 28px
							line-height: 46px
							letter-spacing: 0.02em
							color: $var4
							margin: 0

						&-row
							display: flex
							justify-content: flex-start
							margin-bottom: 24px
							font-size: 15px
							line-height: 25px
							letter-spacing: 0.05em
							color: $var4
							a
								text-decoration: none
								font-size: 15px
								line-height: 25px
								letter-spacing: 0.05em
								color: $var4
								&:hover
									opacity: 0.6


							&:last-child
								margin-bottom: 0

							&-letter
								margin-right: 16px



					&-aboutfollow a
						text-decoration: none
						font-size: 15px
						line-height: 25px
						letter-spacing: 0.05em
						color: $var4
						&:hover
							opacity: 0.6


					&-aboutandfollow
						display: flex
						justify-content: space-between

					&-aboutfollow
						width: 200px
						display: flex
						flex-direction: column
						&:first-child
							margin-right: 20px

						p
							font-size: 20px
							line-height: 30px
							letter-spacing: 0.05em
							color: $var4
							margin: 0 0 32px

						a
							margin-bottom: 16px




			&-rights
				margin: 64px 0
				font-size: 15px
				line-height: 25px
				letter-spacing: 0.05em
				color: $var4
				opacity: 0.4




#footer__block-form-info-btn
	width: 220px
	height: 56px
	background: $var3
	border-radius: 10px
	border: none
	outline: none
	font-size: 15px
	line-height: 25px
	text-align: center
	letter-spacing: 0.04em
	color: $var4
	&:hover
		background: $var2


.modal
	display: none
	position: fixed
	z-index: 1
	left: 0
	top: 0
	width: 100%
	height: 100%
	overflow: auto
	background-color: rgb(0,0,0)
	background-color: rgba(0,0,0,0.4)
	&-content
		background-color: $var9
		margin: 15% auto
		padding: 20px
		border: 1px solid $var10
		width: 35%

	&-form
		width: 540px
		background: $var4
		border-radius: 10px
		padding: 56px
		box-sizing: border-box
		&-title
			font-size: 20px
			line-height: 30px
			letter-spacing: 0.04em
			color: $var2
			margin-bottom: 24px
			text-transform: uppercase

		&-group
			width: 428px
			margin-bottom: 32px
			input, textarea
				width: 428px
				height: 72px
				border: 1px solid rgba(53, 110, 173, 0.2)
				box-sizing: border-box
				border-radius: 10px
				outline: none
				padding: 21px 36px
				font-family: 'Work Sans', sans-serif
				font-size: 15px
				line-height: 30px
				letter-spacing: 0.04em
				color: rgb(31, 63, 104)

			textarea
				height: 144px
				resize: none


		&-text
			font-size: 15px
			line-height: 30px
			letter-spacing: 0.04em
			color: $var2
			opacity: 0.8
			margin-bottom: 8px

		&-btn
			width: 428px
			height: 72px
			background: $var3
			border-radius: 10px
			outline: none
			border: none
			font-size: 15px
			line-height: 25px
			text-align: center
			letter-spacing: 0.04em
			color: $var4
.close
	color: $var11
	float: right
	font-size: 28px
	font-weight: bold
	&:hover, &:focus
		color: black
		text-decoration: none
		cursor: pointer


